import React from "react";

interface {{pascalCase name}}Props {}

function {{pascalCase name}} ({} : {{pascalCase name}}Props) {
  return <div className="">{{pascalCase name}}</div>;
};

export default {{pascalCase name}};
